<!DOCTYPE html>
<html lang="en" ng-app="calculadora">

<head>
    <title>Todo List | Angular JS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="./index.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <section class="content">
                <h1>Tarefas</h1>
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body" ng-controller="principalController">
                            <div>
                                <div class="pull-left">
                                    <div class="form-inline" style="margin-top:13px">
                                        <label for="nomeTarefa">Nome tarefa:</label>
                                        <input type="text" class="form-control" id="nomeTarefa" ng-model="tarefa.nome"/>
                                        <input type="text" ng-model="tarefa.valor">
                                        <input type="hidden" value="7" />
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <button class="btn btn-primary" ng-click="meuEvento(tarefa)">Incluir</button>
                                        <a href="#!concluido" class="btn btn-success btn-filter">Concluido</a>
                                        <a href="#!pendente" class="btn btn-warning btn-filter">Pendente</a>
                                        <a href="#!cancelado" class="btn btn-danger btn-filter">Cancelado</a>
                                        <a href="#!" class="btn btn-default btn-filter">Todos</a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-container" ng-view>
                                {{tarefa.nome}} - {{tarefa.valor}}
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-footer">
                        <p>
                            Page © - 2017 <br> Powered By Fundatec
                        </p>
                    </div>
                    <div ng-controller="calculadoraControl">
                      <label for="ValorA">Valor A: </label>
                      <input type="text" id="ValorA" ng-model="calculo.valorA">
                      <label for="ValorB">Valor B: </label>
                      <input type="text" id="ValorA" ng-model="calculo.valorB">
                      <div>
                        <button ng-click="somar(calculo)">somar</button>
                        <button ng-click="dividir(calculo)">dividir</button>
                        <button ng-click="multiplicar(calculo)">multiplicar</button>
                        <button ng-click="subtrair(calculo)">subtrair</button>
                      </div>
                      <p>
                        Resultado
                      </p>
                      <span> {{calculo.resultado}}</span>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="app.js"></script>
    <script src="calculadora.js"></script>
</body>

</html>
